
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=***
API_TOKEN_SALT=***
ADMIN_JWT_SECRET=***
JWT_SECRET=***
TRANSFER_TOKEN_SALT=***
ENCRYPTION_KEY=***

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db

# Storage SUPABASE
SUPABASE_STORAGE_ACCESS_KEY=***
SUPABASE_STORAGE_SECRET_ACCESS_KEY=***
SUPABASE_STORAGE_ENDPOINT=https://***.storage.supabase.co/storage/v1/s3
SUPABASE_STORAGE_REGION=***